*{
	box-sizing: border-box;
}
body{
	background-color: #E4CCB1;
	padding-top: 10px;
}

/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1200px;
}
/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
.board{
	border: 5px solid #111;
	margin: auto;
	width: 1290px;
	height: 1290px;
	position: relative;
	margin-bottom: 50px;
}
ul{
	padding: 0;
	list-style: none;
	font-size: 0;
	float: left;
}
li{
	width: 160px;
	height: 160px;
}
.first-line:nth-child(odd){
	background-color: #111;
}
.second-line:nth-child(even){
	background-color: #111;
}
img{
	width: 140px;
	height: 140px;
	border-radius: 50%;
	position: absolute;
	margin-top: 7px;
	margin-left: 7px;
}
img:hover{
	transform: scale(1.25);
	box-shadow: 0 0 5px 5px #fff;
}